# https://www.serverless.com/framework/docs/providers/aws/guide/serverless.yml
# https://github.com/serverless/examples
service: spot-arbitrageur
frameworkVersion: "3"
useDotenv: true

provider:
  name: aws
  stage: prod
  region: us-west-1
  runtime: nodejs18.x
  memorySize: 256
  timeout: 60
  versionFunctions: false
  deploymentMethod: direct
  deploymentBucket:
    name: solaris-serverless-deploys
    blockPublicAccess: true
    serverSideEncryption: AES256
  logRetentionInDays: 7
  environment:
    RPC_PROVIDER_URL: ${env:RPC_PROVIDER_URL}
    OWNER_SEED_PHRASE: ${env:OWNER_SEED_PHRASE}
    ARBITRAGEUR_ADDRESS: ${env:ARBITRAGEUR_ADDRESS}
    SENTRY_DSN: ${env:SENTRY_DSN, ""}

functions:
  # https://us-west-1.console.aws.amazon.com/lambda/home?region=us-west-1#/functions/spot-arbitrageur-prod-base?tab=configure
  base:
    handler: handlers.base
    reservedConcurrency: 1
    maximumRetryAttempts: 0
    events:
      - schedule: rate(1 minute)

plugins:
  - serverless-deployment-bucket
  - serverless-esbuild
# custom:
#   esbuild:
#     external:
#       - "@sentry/profiling-node"
#     packagerOptions:
#       scripts:
#         - npm install @sentry/profiling-node
