# https://www.serverless.com/framework/docs/providers/aws/guide/serverless.yml
# https://github.com/serverless/examples
service: spot-arbitrageur
frameworkVersion: "3"
useDotenv: true

provider:
  name: aws
  region: eu-west-1
  runtime: nodejs18.x
  memorySize: 512
  timeout: 60
  versionFunctions: false
  deploymentBucket:
    name: solaris-serverless-deployment-${sls:stage}
    blockPublicAccess: true
  logRetentionInDays: 7
  environment:
    SENTRY_DSN: "TODO"

functions:
  base:
    handler: handlers.base
    reservedConcurrency: 1
    maximumRetryAttempts: 0
    events:
      - schedule: cron(* * * * * *) # every minute

plugins:
  - serverless-esbuild
