# https://www.serverless.com/framework/docs/providers/aws/guide/serverless.yml
# https://github.com/serverless/examples
service: solaris-rpc-benchmark
frameworkVersion: "3"
useDotenv: true

provider:
  name: aws
  profile: solaris
  stage: prod
  region: eu-central-1
  runtime: nodejs18.x
  architecture: arm64
  memorySize: 256
  timeout: 10
  versionFunctions: false
  deploymentMethod: direct
  deploymentBucket:
    name: solaris-serverless-deploys-eu-central-1
    blockPublicAccess: true
    serverSideEncryption: AES256
  logRetentionInDays: 7

functions:
  base:
    handler: handlers.base
    reservedConcurrency: 1
    maximumRetryAttempts: 0
    events:
      - schedule: rate(30 minutes)
  optimism:
    handler: handlers.optimism
    reservedConcurrency: 1
    maximumRetryAttempts: 0
    events:
      - schedule: rate(30 minutes)

plugins:
  - serverless-deployment-bucket
  - serverless-esbuild

custom:
  esbuild:
    bundle: true
    minify: true
